server:  
    image: registry:2
    ports:
        - "5000:5000"
    volumes:
        - ./config.yml:/etc/docker/registry/config.yml:ro
        - ./data/registry:/var/lib/registry
    #command:
    #    - /etc/docker/registry/config.yml
    restart: always
